# Navigation: small scroll with j/k, whole PDF pages with J/K.
# km:sioyek.scroll.down
move_down j
# km:sioyek.scroll.up
move_up k
# km:sioyek.page.next
next_page J
# km:sioyek.page.previous
previous_page K

# Space menu. The development build supports a sequence beginning with Space.
# km:sioyek.menu.highlight
toggle_highlight <space>h
# km:sioyek.menu.synctex
toggle_synctex <space>s
# km:sioyek.menu.presentation
toggle_presentation_mode <space>p
# km:sioyek.menu.drag
toggle_mouse_drag_mode <space>m
# km:sioyek.menu.visual-scroll
toggle_visual_scroll <space>v
# km:sioyek.menu.dark
toggle_dark_mode <space>d
# km:sioyek.menu.width
fit_to_page_width <space>w
# km:sioyek.menu.width-smart
fit_to_page_width_smart <space>W
# km:sioyek.menu.fullscreen
toggle_fullscreen <space>f
# km:sioyek.menu.two-windows
toggle_window_configuration <space>t

# Retire the old function keys after replacing their actions above.
noop <f1>
noop <f4>
noop <f5>
noop <f6>
noop <f7>
noop <f8>
noop <f9>
noop <f10>
noop <f11>
noop <f12>
