[user]
	name = faustozamparelli
	email = fausto.zamparelli@gmail.com

#delta
[core]
    pager = delta
  	excludesFile = ~/.config/git/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[alias]
  s = status -s
  ps = push
  pl = pull
  st = status
  conf = config --global --edit
  co = commit
  ch = checkout
  chd = checkout .
  rh = reset HEAD
  aa = add -A
  a = add .
  pr = pull --rebase
  br = branch
  bra = branc -a
  coa = commit -a --amend -no-edit
	lg = log --graph --abbrev-commit   --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset)   - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)-   %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  

[init]
	defaultBranch = main
